h3 {
  background-color: #f1f1f1;
  color: black;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  }
h2 {
  background-color: #f1f1f1;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}
/* Barra de navegación */
.legend ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;
}

.legend li {
	display: inline-block;
	width: 30px;
	height: 22px;
}

.legend .min {
	float: left;
	padding-bottom: 5px;
}

.legend .max {
	float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34495E;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #212F3D;
   color: white;
}

.active {
  background-color: #F4D03F;
  color: black;
}
.centrado{text-align:center;border:1 dotted #000; padding:12px;}
/* Estilos de imagenes */
img{
display:block;
margin:left;
background-color: #1E5C9B ;

}

#enlaces{
background-color: #E9E9DE;
}

